$base-font: "Roboto", sans-serif;
$tagline-font: "Open Sans", sans-serif;
$card-title-font: "Roboto Slab", sans-serif;

$txt-small: 9pt;
$bold: 700;

$colour-pink:#ff0080;
$body-colour:#909090;
$colour-navy:#37474F;

$small: 481px;
$instagram-med:640px;
$medium: 769px;
$large: 992px;
$x-large: 1201px;